.row{
    padding: 10px;
}
div{
    background-color: #105cce;
    text-align: center;
}
#nombre{
    font-weight: bold;
    margin-top: 20%;
    
}

@media (min-width: 576px){
    #fotoperfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        
    }
    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 37%;
        top: 450px;
    }
}
    
