<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoArgentinaPrograma.png" id="logoAP">
        </div>        
        
        <div class="redes">
            <a href="https://www.facebook.com/nico.gudino.50"><img src="../../../assets/logoFacebook.png" id="facebook"></a>
            <a href="https://github.com/nicogudino"><img src="../../../assets/logoGithub.png" id="github"></a>
            <a href="https://www.instagram.com/nicogudino85/"><img src="../../../assets/logoInstagram.png" id="Instagram"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
            
        </div>

       

    </div>


</div>

