<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
  [percent]="65"
  [radius]="100"  
  [imageSrc]="'/assets/logoHtml5.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d4eeaa'"
  [innerStrokeColor]="'#e3f5c7'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
  [percent]="65"
  [radius]="100"  
  [imageSrc]="'/assets/logoCss.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d4eeaa'"
  [innerStrokeColor]="'#e3f5c7'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>
    
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
  [percent]="70"
  [radius]="100"  
  [imageSrc]="'/assets/logoGithub.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d4eeaa'"
  [innerStrokeColor]="'#e3f5c7'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
  [percent]="60"
  [radius]="100"  
  [imageSrc]="'/assets/logoJavaScrip.jpg'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d4eeaa'"
  [innerStrokeColor]="'#e3f5c7'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
  [percent]="60"
  [radius]="100"  
  [imageSrc]="'/assets/logoMySql.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d4eeaa'"
  [innerStrokeColor]="'#e3f5c7'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
  [percent]="65"
  [radius]="100"  
  [imageSrc]="'/assets/logoJava.png'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d4eeaa'"
  [innerStrokeColor]="'#e3f5c7'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
  [percent]="70"
  [radius]="100"  
  [imageSrc]="'/assets/imagenIdioma.jpg'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d4eeaa'"
  [innerStrokeColor]="'#e3f5c7'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress
  [percent]="95"
  [radius]="100"  
  [imageSrc]="'/assets/imagenTrabajoenequipo.jpg'"
  [showImage]="true"
  [imageHeight]="70"
  [imageWidth]="70"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#d4eeaa'"
  [innerStrokeColor]="'#e3f5c7'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>
</div>
