<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Lista de Tareas</h2>
            <p>Es un organizdor de tareas, que permite cargar tareas pendientes y a medida que las vamos relaizadno se registar su baja del listado.
            </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-a offset-lg-1 parte2">
            <img src="../../../assets/listadetareas.jpg" class="img-fluid">
        </div>

    </div>


</div>